.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


/* Yazıların daha net görünmesi için hafif karartma */
.overlay {
    background: rgba(0, 0, 0, 0.45);
    padding: 40px;
    border-radius: 12px;
    color: white;
}
